body {
  background-image: url('/images/background.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.text-block {
  color: #333; /* Dark grey color for text, which is simple and professional */
  background-color: rgba(255, 255, 255, 0.8); /* White background with a bit of transparency */
  padding: 15px; /* Padding around the text */
  border-radius: 5px; /* Slightly rounded corners for the text block */
  max-width: 800px; /* Maximum width of the text block */
  margin: 20px auto; /* Center the block with automatic margins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Style adjustments for links within the text block for better visibility */
.text-block a {
  color: #0066cc; /* A standard link color */
  text-decoration: none; /* No underline */
}

.text-block a:hover {
  text-decoration: underline; /* Underline on hover for better interaction feedback */
}

.navbar {
  overflow: hidden;
  background-color: #333; /* Or any color you prefer */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2; /* Or any color you prefer */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd; /* Or any color you prefer */
  color: black;
}

html {
  scroll-behavior: smooth;
}

/* Add this to your custom.css file */
section {
  padding-top: 60px; /* Adjust based on the height of your navbar */
  margin-top: -60px; /* Negative margin to offset the padding */
}

/* If you have a fixed navbar, you might also want to add this */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* Add other styling for your navbar here */
}
